@using Pawesome.Helpers
@model PetLandingViewModel

<div class="card card-@Model.Index">
    <img src="@Model.Card.ImageLink" alt="@Model.Card.Name" class="card-image" />
    <div class="card-content">
        <div class="card-header">
            <div class="paw-icon">
                <img src="~/svg/lucide/paw-print.svg" alt="Paw Icon"/>
            </div>
            <h2 class="card-title">
                @Model.Card.Name 
                <span class="card-type" style="background-color: @Model.Card.TagColor; color: @ColorHelper.EnhanceColor(@Model.Card.TagColor, 50)">
                    @Model.Card.Species
                </span>
            </h2>
        </div>
        <div class="card-location">
            <div class="location-icon">
                <img src="~/svg/lucide/map-pin.svg" alt="Map Icon"/>
            </div> 
            <p>@Model.Card.City, @Model.Card.Country</p>
        </div>
        <p class="card-description">@Model.Card.Description</p>
    </div>
</div>


