@model IEnumerable<Pawesome.Models.ViewModels.PetViewModel>

@{
    ViewData["Title"] = "Mes animaux";
}

<div>
    <h2>Mes animaux</h2>
    <div>
        <a asp-action="Create">Ajouter un animal</a>
    </div>
    <div>
        @foreach (var pet in Model)
        {
            <div>
                <div>
                    @if (!string.IsNullOrEmpty(pet.Photo))
                    {
                        <img src="~/images/pets/@pet.Photo" alt="@pet.Name" width="150"/>
                    }
                    else
                    {
                        <img src="~/images/pet-placeholder.jpg" alt="Image par défaut" width="150"/>
                    }
                    <div>
                        <h3>@pet.Name</h3>
                        <p>@pet.Species</p>
                        <a asp-action="Details" asp-route-id="@pet.Id">Détails</a>
                        <a asp-action="Edit" asp-route-id="@pet.Id">Modifier</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>